<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}{{ rework_data.name }}{% endblock %}

{% block content %}
<div class="m-2 rounded-md ring-2 ring-gray-500 bg-gray-600">
  <div class="p-2">
    <div class="flex">
      <div class="flex-1"></div>
      <div class="relative justify-end">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          type="text"
          name="search"
          id="search-user-box"
          class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md text-white leading-5 bg-gray-500 placeholder-gray-400 focus:outline-none focus:placeholder-gray-500 focus:ring-0 focus:border-transparent sm:text-sm"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </div>
    <div class="relative flex justify-end">
      <div
        class="hidden flex flex-col absolute bg-white rounded-md shadow-xl dark:bg-gray-700 dark:divide-gray-600 z-10 mt-2"
        id="search-user-results"
      >
        <div
          class="py-2 w-60 bg-white rounded-md shadow-xl dark:bg-gray-700 dark:divide-gray-600 text-sm z-10 static"
          id="spinning-search-response"
        >
          <div
            class="block px-4 py-2 text-gray-900 hover:bg-gray-500 hover:rounded-md hover:bg-opacity-25 dark:text-white"
          >
            <div class="flex items-center space-x-4">
              <div class="flex justify-center items-center">
                <div role="status">
                  <svg
                    class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-1">
      <hr class="my-2 h-px bg-gray-200 border-0 dark:bg-gray-700" />
    </div>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
              New Rank
            </th>
            <th scope="col" class="py-3 px-6 dark:bg-gray-700">Old Rank</th>
            <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
              Username
            </th>
            <th scope="col" class="py-3 px-6 dark:bg-gray-700">New PP</th>
            <th scope="col" class="py-3 px-6 bg-gray-50 dark:bg-gray-800">
              Old PP
            </th>
          </tr>
        </thead>
        <tbody id="leaderboard-users-table">
          <tr
            id="spinning-empty-circle"
            class="border-b border-gray-200 dark:border-gray-700"
          >
            <td colspan="9" class="py-4 px-6 bg-gray-50 dark:bg-gray-800">
              <div class="flex justify-center">
                <div role="status">
                  <svg
                    class="inline w-14 h-14 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="py-3"></div>
    <div class="flex flex-col items-center">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span
          id="number-showing-from"
          class="font-semibold text-gray-900 dark:text-white"
          >1</span
        >
        to
        <span
          id="number-showing-to"
          class="font-semibold text-gray-900 dark:text-white"
          >50</span
        >
        of
        <span
          id="number-enteties"
          class="font-semibold text-gray-900 dark:text-white"
          >100
        </span>
        Entries
      </span>
      <div class="inline-flex mt-2 xs:mt-0">
        <button
          class="inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          onclick="loadPreviousPage(this)"
          id="previous-page-button"
        >
          <svg
            aria-hidden="true"
            class="mr-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Prev
        </button>
        <button
          class="inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-r border-0 border-l border-gray-700 hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          onclick="loadNextPage(this)"
          id="next-page-button"
        >
          Next
          <svg
            aria-hidden="true"
            class="ml-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  var leaderboardConfig = {
    rework_id: parseInt("{{ rework_data.id }}"),
    page: parseInt("{{ page_num }}"),
  };
</script>
<script src="static/js/pages/leaderboard.js"></script>
{% endblock %}
